.cell{
	border: none;
	font-size: 40px;
	padding: 5px;
	height: 50px;
	width: 50px;
}

.big-table{
	border-spacing: 5px;
	padding-left: 0px;
}

.not-playable button{
	background: red;
}

.playable button{
	background: #7CFC00	;
}

table {
    display: table;
    border-collapse: separate;
    border-color: black;
}
