.cell{
	border: none;
	font-size: 40px;
	padding: 5px;
	height: 50px;
	width: 50px;
}

.big-table{
	border-spacing: 5px;
	padding-left: 0px;
	table-layout: fixed;
	height : 490px;
	width: 490px;
}

.js-big-cell{
	height: 160px;
	width: 160px;

}

.not-playable button{
	background: red;
}

.playable button{
	background: #7CFC00	;
	cursor: pointer;
}

.resolved{
	overflow: hidden;
	font-size: 90px;
	font-weight: bold;
	text-align: center;
}


